@using UI.Components.Pages

<div class="inline-flex items-center gap-2 px-4 py-2 rounded-full text-sm backdrop-blur-md border-2 border-gray-300 dark:border-gray-500 bg-gray-100 dark:bg-gray-600 text-gray-700 dark:text-gray-300 @(Compact ? "mb-4" : "mb-8") transition-all duration-500">
    Loading:

    @switch (Status)
    {
        case InitializationStatus.InProgress:
            <span class="inline-flex items-center gap-2 px-1.5 py-1 bg-blue-500 text-white rounded-md">
                <svg class="animate-spin h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                <span>@InitializationStatus.InProgress</span>
            </span>

            break;
        case InitializationStatus.Completed:
            <span class="inline-flex items-center gap-2 px-1.5 py-1 border-2 border-green-500 text-white rounded-md">
                <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                <span>@InitializationStatus.Completed</span>
            </span>

            break;
        case InitializationStatus.Failed:
            <span class="inline-flex items-center gap-2 px-1.5 py-1 bg-red-500 text-white rounded-md">
                <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
                <span>@InitializationStatus.Failed</span>
            </span>

            break;
        default:
            <span class="inline-flex items-center gap-2 px-1.5 py-1 bg-gray-400 text-white rounded-md">
                <span>@InitializationStatus.NotStarted</span>
            </span>

            break;
    }
</div>

@code {

    [Parameter]
    public InitializationStatus Status { get; set; }

    [Parameter]
    public bool Compact { get; set; }

    private string GetStatusBgClass()
    {
        return Status switch
        {
            InitializationStatus.InProgress => "bg-blue-500/30 border-2 border-blue-500/50",
            InitializationStatus.Completed => "bg-green-500/30 border-2 border-green-500/50",
            InitializationStatus.Failed => "bg-red-500/30 border-2 border-red-500/50",
            _ => "bg-gray-400/30 border-2 border-gray-400/50"
        };
    }
}
